<ion-header>
  <ion-navbar>
    <ion-title>
      QR Scan
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

	<div class="scan-content">
  	<button class="app-similar-btn" ion-button tappable (click)="open()"> Scan </button>
  </div>

</ion-content>