page-about {
	ion-content{
		.scan-content{
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100%;
			background: url('../../assets/icon/bg-img.png') no-repeat;
			background-size: cover;
		}
	}
}
