<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content padding>

  <div class="form-page">
    <div class="form-inner">
      <div class="form-heading">
        <h3>Login</h3>
      </div>
      <form class="form-login" name="login" [formGroup]="login" (ngSubmit)="userLogin()">
        <div class="form-group">
          <label>Email Address</label>
          <input type="text" class="form-control" formControlName="email" placeholder="Type Your Email Address">
          <span class="help-block d-inline-block w-100 text-right text-danger" *ngIf="login.controls['email'].hasError('required') && validForm==false">Required</span>
          <span class="help-block d-inline-block w-100 text-right text-danger" *ngIf="login.controls['email'].hasError('required') && login.controls['email'].touched">Required</span>
          <span class="help-block d-inline-block w-100 text-right text-danger" *ngIf="login.controls['email'].invalid && !login.controls['email'].hasError('required')">Invalid Email</span>
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" placeholder="Type Your Password" formControlName="password">
          <span class="help-block d-inline-block w-100 text-right text-danger" *ngIf="login.controls['password'].hasError('required') && validForm==false">Required</span>
          <span class="help-block d-inline-block w-100 text-right text-danger" *ngIf="login.controls['password'].hasError('required') && login.controls['password'].touched">Required</span>
          <span class="help-block d-inline-block w-100 text-right text-danger" *ngIf="login.controls['password'].invalid && !login.controls['password'].hasError('required')">Password is too short</span>
        </div>
        <button class="app-btn login-btn" type="submit" [disabled]="!login.valid">Login</button>
      </form>
      <div class="btns-block">
        <div class="signup-link-block">
          <p>
            Don't have an account?
            <a (click)="register()" class="signup-link">SignUp</a>
          </p>
        </div>
        <div class="or-text-bar"><span>OR</span></div>
        <button (click)="facebook()" class="app-btn facebook-btn">Login With Facebook</button>
        <button (click)="linkedIn()" class="app-btn linkedin-btn">Login With Linkedin</button>
        <button (click)="google()" class="app-btn googlePlus-btn">Login With GooglePlus</button>
      </div>
    </div>
  </div>


</ion-content>