<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Geolocation" tabIcon="ios-locate"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Scan" tabIcon="md-qr-scanner"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Inbox" tabIcon="md-chatboxes"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Profile" tabIcon="md-person"></ion-tab>
</ion-tabs>