page-chat {
    .back-button.show-back-button{
        display: none !important;
        
    }
  
    .customInterests{
        .customContainer{
            height: 235px;
            .customContainer-inner{
                height: 190px;
            }
        }
    }
    .chat-model{
        background-color: rgba(0,0,0,0.3);
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        z-index: 1090;
        display: -webkit-box;
        -webkit-box-pack: center;
        -webkit-box-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px;
        .chat-model-close{
            position: absolute;
            right: -4px;
            top: 10px;
            color: #fff;
            font-size: 32px;
            padding: 10px;
            cursor: pointer;
        }
        .chat-model-img{
            display: -webkit-box;
            -webkit-box-pack: center;
            -webkit-box-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            max-width: 750px;
            img{
                max-width: 100%;
            }
        }
    }
    .tabbar{
        display: none;
    }
    .chatPop-option{
        min-height: 46px;
        overflow: hidden;
        position: relative;
        padding-left: 16px;
        span{
            border-bottom: 1px solid #dedede;
            display: inline-block;
            min-height: 46px;
            padding-top: 13px;
            width: 100%;
            font-size: 1.6rem;
            font-weight: normal;
        }
    }
    .header{
        .toolbar-content{
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            align-items: center;
            .toolbar-title{
                padding-left: 0 !important;
            }
            .iconBack-custom{
                color: #bdc1cc;
                font-weight: 700;
                font-size: 24px;
                min-width: 40px;
                padding: 0 7px;
            }
        }
    }
    .app-container{
        max-width: 825px;
    }
    ion-content{
      
        .chat-list{
            margin-bottom: 130px;
            ion-item{
                background-color: transparent;
                margin-top: 28px;
                .chat-block{
                    label{
                        color: #ababab;
                        font-size: 1.4rem;
                        text-transform: uppercase;
                        font-weight: 500;
                        margin-bottom: 20px;
                        text-align: center;
                        display: block;
                    }
                    .chat-box{
                        position: relative;
                        margin-bottom: 16px;
                        float: left;
                        width: 100%;
                        .chat-img{
                            width: 45px;
                            height: 45px;
                            border-radius: 4px;
                            display: -webkit-box;
                            -webkit-box-pack: center;
                            -webkit-box-align: center;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            overflow: hidden;
                            position: absolute;
                            left: 0;
                            top: 0;
                            background-color: #626262;
                            img{
                                max-height: 100%;
                            }
                        }
                        .chat-msg{
                            width: 100%;
                            max-width: 300px;
                            float: left;
                            width: 100%;
                            .chat-msg-box{
                                border-radius: 4px;
                                padding: 10px 15px;
                                min-height: 45px;
                                float: left;
                                min-width: 100px;
                                p{
                                    font-size: 1.3rem;
                                    line-height: 20px;
                                    white-space: normal;
                                    margin: 0;
                                    word-break: break-word;
                                }
                                span{
                                    word-break: break-word;
                                    white-space: normal;
                                    color: #fff;
                                    font-size: 1.3rem;
                                    line-height: 18px;
                                    a{
                                        word-break: break-word;
                                        white-space: normal;
                                        color: #fff;
                                    }
                                }
                            }
                        }
                    }
                    .chat-box-left{
                        padding-left: 60px;
                        .chat-msg{
                            .chat-msg-box{
                                background-color: #fafafa;
                                p{
                                    color: #2d2d2d;
                                }
                                span{
                                    color: #2d2d2d;
                                    a{
                                        color: #2d2d2d;
                                    }
                                }
                            }
                        }
                    }
                    .chat-box-right{
                        .chat-msg{
                            float: right;
                            .chat-msg-box{
                                background-color: #2f8cff;
                                float: right;
                                p{
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .search-bar{
        background-color: #fff;
        padding: 8px 15px;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 999;
        -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.59);
        -moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.59);
        box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.59);
        .search-div{
            padding-right: 45px;
            input{
                width: 100%;
                border: 1px solid #2f8cff;
                padding: 11px 12px;
                border-radius: 4px;
                color: #626262;
                font-size: 1.3rem;
                height: 40px;
            }
            .add-icon{
                width: 30px;
                height: 30px;
                // border: 2px solid #25bbd4;
                display: inline-block;
                padding: 1px;
                text-align: center;
                color: #2f8cff;
                font-size: 20px;
                border-radius: 6px;
                position: absolute;
                right: 15px;
                bottom: 11px;
                cursor: pointer;
            }
        }
        .filepath-bar{
            padding-left: 45px;
            padding-top: 6px;
            padding-bottom: 18px;
            overflow: hidden;
            .filepath-bar-img{
                width: 28px;
                height: 28px;
                border-radius: 50%;
                display: -webkit-box;
                -webkit-box-pack: center;
                -webkit-box-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                position: absolute;
                left: 15px;
                top: 13px;
                background-color: rgba(98, 98, 98, 0.36);
            }
            .filepath-bar-text{
                color: #2d2d2d;
                font-size: 1.4rem;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                display: inline-block;
                width: 100%;
            }
        }
    }
    // .app-container{
    //     height: 100%;
    //     .empty-msg{
    //         display: flex;
    //         padding-bottom: 74px;
    //         align-items: center;
    //         justify-content: center;
    //         height: 100%;
    //         span{
    //             display: inline-block;
    //             width: 200px;
    //         }
    //     }
    // }
}


@media (min-width: 360px){
    page-chat .chat-model .chat-model-close{
        right: 0px;
        top: 25px;
    }
}
@media (min-width: 400px){
    page-chat .chat-model .chat-model-close{
        right: 20px;
        top: 25px;
    }
}
@media (min-width: 500px){
    page-chat .chat-model .chat-model-close{
        right: 10px;
        top: 25px;
    }
}
@media (min-width: 767px){
    // page-chat ion-content .chat-list ion-item .chat-block .chat-box .chat-msg{
    //     min-height: 80px;
    // }
    page-chat .chat-model .chat-model-close{
        right: 40px;
        top: 0px;
    }
}
