<!--
  Generated template for the ChatPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header class="header-set">

  <ion-navbar>
    <ion-icon name="arrow-back" tappable (click)="back()" class="iconBack-custom"></ion-icon>
    <ion-title>Khan</ion-title>
  </ion-navbar>

  <!--<button (click) = "back()" >Back</button>-->

</ion-header>


<ion-content class="chat-content" #content>
  <div class="app-container">

    <ion-list class="chat-list">
      <!-- message -->

      <ion-item>
        <div class="chat-block">
          <label>12/12/2017</label>
          <!-- <div *ngFor="let data of item.data"> -->
          <div class="chat-box chat-box-left">
            <div class="chat-img">
              <img src="././assets/icon/user-1.jpg" alt="IMG" />
            </div>
            <div class="chat-msg">
              <div class="chat-msg-box">
                <p>Hello</p>

              </div>
              <!-- </div> -->
            </div>
            <div class="chat-box chat-box-right">
              <div class="chat-msg">
                <div class="chat-msg-box">
                  <p>Hi</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
<div class="search-bar">
  <!-- <div class="filepath-bar" *ngIf="attachment"> -->
  <!-- <span class="filepath-bar-img" *ngIf="attachPic"><img src="{{attachment}}" /></span> -->
  <!-- <span class="filepath-bar-text" *ngIf="attachName">{{attachName}}</span> -->
  <!-- </div> -->
  <div class="search-div">
    <input type="text" placeholder="Write a message..." />
    <!-- <span class="add-icon" *ngIf="!body && !attachment"><ion-icon name="md-send"></ion-icon></span> -->
    <!-- <span class="add-icon" *ngIf="!send"><ion-icon name="md-send"></ion-icon></span> -->
    <span class="add-icon">
      <ion-icon name="md-send"></ion-icon>
    </span>
  </div>
</div>