<ion-header class="inbox-header">

  <ion-navbar>
    <ion-title>Inbox</ion-title>
  </ion-navbar>
  <ion-searchbar *ngIf="searchToggle" [(ngModel)]="searchParam" (ionInput)="getItems($event)"></ion-searchbar>

</ion-header>


<ion-content class="inbox-content">
  <ion-list class="inbox-list">
    <ion-item class="inboxItem-inread" tappable (click)="gotoConversation()">
      <div class="inbox-block">
        <div class="inbox-img">
          <img src="././assets/icon/user-1.jpg" alt="IMG" />
        </div>
        <div class="inbox-detail">
          <h4>John</h4>
          <span class="inbox-date">June 20, 2017</span>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget nibh pharetra, pulvinar justo sed, sagittis
            arcu. Praesent ...</p>
        </div>
      </div>
    </ion-item>
    <ion-item tappable (click)="gotoConversation()">
      <div class="inbox-block">
        <div class="inbox-img">
          <img src="././assets/icon/user-2.jpg" alt="IMG" />
        </div>
        <div class="inbox-detail"> 
          <h4>Ronald</h4>
          <span class="inbox-date">June 20, 2017</span>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget nibh pharetra, pulvinar justo sed, sagittis
            arcu. Praesent ...</p>
        </div>
      </div>
    </ion-item>
  </ion-list>

</ion-content>