page-inbox {
    .scroll-content,
    .fixed-content{
        margin-top: 56px;
    }
    .inbox-header{
        .btn-options{
            position: absolute;
            top: 17px;
            height: 24px;
            background-color: transparent;
            padding: 0px 5px;
            ion-icon{
                color: #fff;
                font-size: 2.9rem;
                font-weight: 700;
            }
            i{
                color: #fff;
                font-size: 2.4rem;
            }
            i.icomoon-Bell{
                font-size: 3rem;
                position: relative;
                top: -3px;
            }
            .badge{
                width: 22px;
                    height: 22px;
                    background-color: #ff2fa4 ;
                    border-radius: 50%;
                    display: inline-block;
                    color: #fff;
                    text-align: center;
                    display: -webkit-box;
                    -webkit-box-pack: center;
                    -webkit-box-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    right: 0px;
                    top: -10px;
                    font-size: 1.2rem;
                    font-weight: 600;
            }
        }
        .btn-player{
            right: 56px;
            width: 29.5px;
        }
        .btn-bell{
            right: 15px;
            width: 34px;
        }
        .searchbar{
            position: absolute;
            top: 0px;
            left: 0px;
            right: 90px;
            width: auto;
            background: transparent;
            padding: 8px;
            .searchbar-input{
                padding: 5px 40px 5px 40px;
                height: 40px;
            }
            .searchbar-search-icon{
                left: 10px;
            }
        }
        .searchbar-ios{
            padding-top: 20px;
            padding-bottom: 0;
            .searchbar-search-icon{
                background-size: 19px;
                width: 21px;
                height: 21px;
                top: 10px;
            }
        }
    }
    .header-ios{
        .btn-options{
            top: 30px;
        }
    }
    .app-container{
        padding-left: 0;
        padding-right: 0;
    }
    .inbox-list{
        ion-item{
            background-color: transparent;
            padding-left: 20px !important;
            padding-right: 20px;
            .inbox-block{
                position: relative;
                padding: 20px 0px 10px 70px;
                min-height: 100px;
                .inbox-img{
                    width: 55px;
                    height: 55px;
                    display: -webkit-box;
                    -webkit-box-pack: center;
                    -webkit-box-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;
                    border-radius: 4px;
                    position: absolute;
                    left: 0;
                    top: 30px;
                    background-color: #626262;
                }
                .inbox-detail{
                    p{
                        white-space: normal;
                        color: #636363;
                        line-height: 20px;
                        font-size: 1.4rem;
                        margin: 0;
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                    }
                    h4{
                        font-size: 1.6rem;
                        color: #2d2d2d;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    .inbox-date{
                        font-size: 1.4rem;
                        color: #2d2d2d;
                        text-transform: uppercase;
                        position: absolute;
                        right: 0;
                        top: 2px;
                    }
                    .inbox-heading{
                        position: relative;
                        padding-right: 112px;
                        margin-bottom: 10px;
                    }
                }
            }
        }
        .item-inner{
          border-bottom: 0 !important;
        }
        .inboxItem-inread{
            background-color: #fafafa;
        }
    }
}
