<ion-header>
  <ion-navbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="contact-detail" *ngIf="provider == 'fb'">
    <p *ngIf="data && data.authResponse.accessToken">Access Token:<span>{{data.authResponse.accessToken}}</span></p>
    <p *ngIf="data && data.authResponse.userID">User Id:<span>{{data.authResponse.userID}}</span></p>
    <p *ngIf="data && data.authResponse.session_key">Session key:<span>{{data.authResponse.session_key}}</span></p>
    <p *ngIf="data && data.authResponse.expiresIn">Expires In:<span></span>{{data.authResponse.expiresIn}}</p>
  </div>
  <div class="contact-detail" *ngIf="provider == 'google'">
    <p *ngIf="data && data.displayName">Display Name:<span>{{data.displayName}}</span></p>
    <p *ngIf="data && data.email">Email:<span>{{data.email}}</span></p>
    <p *ngIf="data && data.familyName">Family Name:<span>{{data.familyName}}</span></p>
    <p *ngIf="data && data.givenName">Given Name:<span>{{data.givenName}}</span>vrw</p>
    <p *ngIf="data && data.userId">User Id:<span>{{data.userId}}</span></p>

  </div>
  <div class="contact-detail" *ngIf="provider == 'linkedin'">
    <p *ngIf="data && data.firstName">First Name:<span>{{data.firstName}}</span></p>
    <p *ngIf="data && data.lastName">Last Name:<span>{{data.lastName}}</span></p>
    <p *ngIf="data && data.headline">Headline:<span>{{data.headline}}</span></p>
    <p *ngIf="data && data.id">Id:<span>{{data.id}}</span></p>
  </div>
  <div class="contact-detail" *ngIf="provider == 'normal'" style="margin-top:60px;">
    <p *ngIf="data && data.name">Name:<span>{{data.name}}</span></p>
    <p *ngIf="data && data.email">Email:<span>{{data.email}}</span></p>
  </div>
  <button class="app-btn" ion-button (click)="logout()">Logout </button>
  <div class="extra">
    <h4>Extra Feature</h4>
    <input type="text" [(ngModel)]="words" placeholder="Write text here..." />
    <button class="app-btn" ion-button (click)="text()" [disabled]="!words">Text to speak </button>
  </div>

</ion-content>