page-contact {
	.contact-detail{
		p{
			font-weight: 600;
			margin: 10px 0;
			font-size: 16px;
			span{
				font-weight: 400;
				margin-left: 3px;
			}
		}
	}
	.app-btn{
		width: 100%;
		margin-top: 20px;
		background-color: #94de45;
	}
	.extra{
		margin-top: 40px;
		input{
			width: 100%;
			min-height: 35px;
			border-radius: 4px;
			border: none;
			background-color: rgba(128, 128, 128, 0.12);
			padding: 10px;
		}
	}
}
