<ion-header>
  <ion-navbar>
    <ion-title>Geo Position</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>GeoPosition</h2>
  <div>
    <p>Latitude:<span *ngIf="lat">{{lat}}</span></p>
    <p>Longitude:<span *ngIf="lon">{{lon}}</span></p>
    <p>Formatted Address:<span *ngIf="geoLocationData">{{geoLocationData}}</span></p>

  </div>
  <div #map id="map" style="height:60%; float:left; width:100%"></div>
</ion-content>