page-home {
	ion-content{
		h2{
			border-bottom: 1px solid #bdc3c7;
			padding-bottom: 10px;
			margin: 20px 0px 14px 0px !important;
			font-size: 20px;
			letter-spacing: 1px;
		}
		p{
			font-weight: 600;
			span{
				font-weight: 400;
				margin-left: 3px;
			}
		}
	}
}
