<!--
  Generated template for the SignUpPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Sign Up</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div class="form-page">
    <div class="form-inner">
      <form class="form-signup" name="register" [formGroup]="register" (ngSubmit)="registerUser()">
        <div class="form-group">
          <label>Name</label>
          <input type="text" class="form-control" placeholder="Type Your Name" formControlName="name">
          <span class="help-block help-block d-inline-block w-100 text-right text-danger" *ngIf="register.controls['name'].hasError('required') && validForm==false">Required</span>
          <span class="help-block help-block d-inline-block w-100 text-right text-danger" *ngIf="register.controls['name'].hasError('required') && register.controls['name'].touched">Required</span>
          <span class="help-block help-block d-inline-block w-100 text-right text-danger" *ngIf="register.controls['name'].invalid && !register.controls['name'].hasError('required')">Invalid Format</span>
        </div>
        <div class="form-group">
          <label>Email Address</label>
          <input type="text" class="form-control" placeholder="Type Your Email Addres" formControlName="email">
          <span class="help-block help-block d-inline-block w-100 text-right text-danger" *ngIf="register.controls['email'].hasError('required') && validForm==false">Required</span>
          <span class="help-block help-block d-inline-block w-100 text-right text-danger" *ngIf="register.controls['email'].hasError('required') && register.controls['email'].touched">Required</span>
          <span class="help-block help-block d-inline-block w-100 text-right text-danger" *ngIf="register.controls['email'].invalid && !register.controls['email'].hasError('required')">Invalid Email</span>
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" placeholder="Type Your Password" formControlName="password" minlength="5" maxlength="14">
          <span class="help-block help-block d-inline-block w-100 text-right text-danger" *ngIf="register.controls['password'].hasError('required') && validForm==false">Required</span>
          <span class="help-block help-block d-inline-block w-100 text-right text-danger" *ngIf="register.controls['password'].hasError('required') && register.controls['password'].touched">Required</span>
          <span class="help-block help-block d-inline-block w-100 text-right text-danger" *ngIf="register.controls['password'].invalid && !register.controls['password'].hasError('required')">Password is too short.</span>
        </div>
        <button class="app-btn login-btn" type="submit" [disabled]="!register.valid">Sign up</button>
      </form>
    </div>
  </div>



</ion-content>