// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700');

body{
	font-family: 'Source Sans Pro', sans-serif;
}
.density{
	opacity: 0 !important;
}
.form-page{
	.form-inner{
		padding: 50px 30px 10px 30px;
		.form-heading{
			text-align: center;
			margin-bottom: 30px
			h3{
				font-size: 20px;
				margin: 0px 0px 15px 0px;
				color: #050505;
				font-weight: 500;
			}
		}
		.form-group{
			position: relative;
			margin-bottom: 25px;
			label{
				text-transform: uppercase;
				color: #050505;
				font-weight: 600;
				margin-bottom: 10px;
				display: inline-block;
				width: 100%;
			}
			&:last-child{
				margin-bottom: 0;
			}
			.form-control{
				border: 1px solid #bdc1cc;
				width: 100%;
				font-size: 14px;
				color: #bdc1cc;
				height: auto;
				padding: 12px 15px;
				background-color: transparent;
				border-bottom: 1px solid #bdc3c7;
				box-shadow: none;
			}
			.help-block{
				position: absolute;
				right: 4px;
				font-size: 12px;
				color: #ff0000;
				bottom: -20px;
			}
		}
		.btn-container{
			width: 100%;
			margin: 0 auto;
		}
		.signup-link-block{
			text-align: center;
			margin-top: 35px;
			p{
				font-size: 13px;
				color: #bdc1cc;
				margin: 0;
				a{
					color: #2f8cff;
					margin-left: 4px;
					display: inline-block;
					text-decoration: underline;
					cursor: pointer;
					color: #bdc1cc;
				}
			}
		}
	}
}
.app-similar-btn{
	border: none;
	color: #fff;
	background-color: #2f8cff;
	min-width: 80px;
	text-align: center;
	letter-spacing: 1px;
	font-size: 14px;
	border-radius: 2px;
	box-shadow: none;
	text-transform: initial;
}
.app-btn{
	border: none;
	color: #fff;
	text-transform: uppercase;
	background-color: #94de45;
	padding: 8px 12px;
	width: 100%;
	text-align: center;
	letter-spacing: 1px;
	font-size: 14px;
	border-radius: 25px;
	min-height: 44px;
	margin-top: 20px;
	outline: none;
	transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
}
.app-btn:hover{
	opacity: 0.8;
}
.facebook-btn{
	background-color: #587aca;
}
.linkedin-btn{
	background-color: #2568bb;
}
.googlePlus-btn{
	background-color: #ed4e0f;
}
.or-text-bar{
	display: inline-block;
	width: 100%;
	position: relative;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 10px;
	span{
		text-transform: uppercase;
		padding: 1px 12px;
		background-color: #fff;
		letter-spacing: 1px;
		color: #bdc1cc;
		position: relative;
		z-index: 5;
	}
	&:last-child{
		content: '';
		background-color: #bdc1cc;
		height: 1px;
		position: absolute;
		left: 0;
		right: 0;
		top: 10px;
	}
}
.tabs-md .tab-button[aria-selected=true] .tab-button-icon {
    color: #2f8cff;
}
.tabs-md .tab-button[aria-selected=true] {
    color: #2f8cff;
}







